@import url('https://fonts.googleapis.com/css?family=Slabo+27px');


/* Container, parahraps -------------------------------- */

.wrapper {
	
	margin: 0 auto;
	padding-top: 20px;
}

p {
	width: 90%;
	margin: 1em auto;
	font: 1.2em 'Slabo 27px', serif;
}

/* Styles for subtitles --------------------------- */

.orangeColorText{
	color: orange !important;
}
.black{
	color: inherit;
}
.text:hover{
	color: green;
	cursor: pointer;
}

/* Customization of video player  --------------------------- */

.mejs__controls{
	background: #009688 !important;
}

/* Media querities for descktop --------------------------- */

@media (min-width: 768px) {
	.wrapper {
		width: 80%;
	}
	p {
		width: 100%;
}