@import url('https://fonts.googleapis.com/css?family=Slabo+27px');


/* Container -------------------------------- */

.wrapper {

	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
}

p {
	margin: 15px 0;
	font: 1.2em 'Slabo 27px', serif;
}

/*.text:hover{
	color: green;
	background: green;
	
}*/
